.box-sizing {
    box-sizing: border-box;
}

.white-overlay {
    background-color: white;
    opacity: 0.85;
    position: fixed;
    z-index: 4000;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.input-container {
    /*border: 1px dashed red;*/
    width: 100%;
    z-index: 5000;
    position: fixed;
    padding: 0 50px;
    top: 45%;
    /* Proper centering? */
    display: box;
    box-pack: center;
    box-align: center;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.input-field {
    /* Here be dragons */
    position: relative;
    float: left;
    width: 100%;

    background-color: transparent;
    box-shadow: none;
    border: 0;
    /*padding: 0 50px;*/
    font-size: 5em;
    text-align: center;
    color: black;

    /*font-family: 'Helvetica neue'*/
}

.input-field:focus {
    outline: 0;
}

.reminder-banner {
    width: 100%;
    height: 55px;
    z-index: 5000;
    position: fixed;
    top: 0;
    background-color: white;
    /* Proper centering? */
    display: box;
    box-pack: center;
    box-align: center;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* Transitions */
    transition:color .25s ease-out;
}

.reminder-banner > p {
    margin: 0;
    font-size: 2.5em;
    font-weight: 600;
    overflow: hidden;
    outline: none;
}

.reminder-banner:hover {
    color: #AAA;
}

.reminder-banner:focus {
    outline: 0;
}

.close-button {
    font-size: 2.5em;
    font-family: 'Helvetica neue';
    font-weight: 800;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 20px;
    color: #A9A9A9;
    transition:color .25s ease-out;
    cursor: pointer;
}

.close-button:hover {
    color: black;
}
